<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>自動見積もりフォーム</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="container bg-dark text-white p-5">
        <h2 class="text-center border-bottom border-white pb-3 mb-5">
          自動見積もりフォーム
        </h2>
        <form>
          <!-- ムービーの種類 -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label pt-0"
              >制作したいムービー
              <span class="badge badge-danger">必須</span>
            </label>
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-5">
                  <div class="form-check form-check-inside">
                    <input
                      type="radio"
                      class="form-check-input"
                      name="move-type"
                      id="1"
                      value="余興ムービー"
                      v-model="movieType"
                    />
                    <label for="type1" class="form-check-label"
                      >余興ムービー</label
                    >
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-check form-check-inline">
                    <input
                      type="radio"
                      class="form-check-input"
                      name="movie-type"
                      id="type2"
                      value="サプライズムービー"
                      v-model="movieType"
                    />
                    <label for="type2" class="form-check-label"
                      >サプライズムービー</label
                    >
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-check form-check-inline">
                    <input
                      type="radio"
                      class="form-check-input"
                      name="movie-type"
                      id="type3"
                      value="生い立ちムービー"
                      v-model="movieType"
                    />
                    <label for="type3" class="form-check-label"
                      >生い立ちムービー</label
                    >
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="form-check form-check-inline">
                    <input
                      type="radio"
                      class="form-check-input"
                      name="movie-type"
                      id="type4"
                      value="オープニングムービー"
                      v-model="movieType"
                    />
                    <label for="type4" class="form-check-label"
                      >オープニングムービー</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 挙式日 -->
          <div class="form-group row">
            <label for="wedding_date" class="col-md-3 pt-0"
              >挙式日
              <span class="badge badge-danger">必須</span>
            </label>
            <div class="col-md-9">
              <input
                type="date"
                class="form-control"
                id="wedding_date"
                placeholder="日付をお選びください"
                v-model="wedding_date"
              />
              <small class="form-text"
                >結婚式のお日にちを選択してください</small
              >
            </div>
          </div>
          <!-- DVD仕上がり予定日 -->
          <div class="form-group row">
            <label for="delivery_date" class="col-md-3 pt-0"
              >DVDの仕上がり予定日<span class="badge badge-danger">必須</span>
            </label>
            <div class="col-md-9">
              <input
                type="date"
                class="form-control"
                id="delivery_date"
                min="2020-9-26"
                placeholder="日付をお選びください"
                v-bind:min="tomorrow"
                v-model="delivery_date"
              />
              <small class="form-text"
                >挙式日の１週間前までにDVDが必要な場合が多いため、仕上がり予定日を挙式日の１週間前に設定しております</small
              >
            </div>
          </div>
          <!-- 小計：基本料金 -->
          <div class="form-group row">
            <label for="" class="col-md-3 pt-0"> 基本料金 </label>
            <div class="col-md-9">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control text-right"
                  id="sum_base"
                  value="32,400"
                  readonly
                />
                <div class="input-group-append">
                  <label class="input-group-text">円</label>
                </div>
              </div>
            </div>
          </div>
          <!-- オプションメニュー -->
          <label class="col-md-3 pt-0"
            >オプションメニュー
            <span class="badge badge-info">任意</span>
          </label>
          <div class="col-md-9">
            <div class="form-check mb-4">
              <input type="checkbox" class="form-check-input" id="opt1" />
              <label for="opt1" class="form-check-label"
                >BGM手配　+5400円</label
              >
              <small class="form-text"
                >当社で曲を手配させていただく場合は、１曲あたり5,400円(税込み）かかります。</small
              >
            </div>
            <div class="form-check mb-3">
              <input type="checkbox" class="form-check-input" id="opt2" />
              <label for="opt2" class="form-check-label">撮影　+5400円</label>
              <small class="form-text"
                >当社に撮影を依頼する場合の料金です</small
              >
            </div>
            <div class="form-check mb-3">
              <input type="checkbox" class="form-check-input" id="opt3" />
              <label for="opt3" class="form-check-label"
                >DVD盤面印刷　+ 5400円</label
              >
              <small class="form-text"
                >当社でDVDの盤面をデザインさせていただく場合は、5400円かかります。</small
              >
            </div>
            <div class="form-row mb-3 align-items-center">
              <div class="col-auto">
                <label for="opt4" class="form-check-label"
                  >写真スキャニング　＋540円</label
                >
              </div>
              <div class="col-auto">
                <div class="input-group">
                  <input
                    type="number"
                    class="form-control"
                    id="opt4"
                    value="0"
                    min="0"
                    max="30"
                  />
                  <div class="input-group-append">
                    <label for="opt4" class="input-group-text">枚</label>
                  </div>
                </div>
              </div>
              <small class="form-text"
                >プリントアウトした写真のスキャニングをご希望の方は、1枚あたり540円にて承ります。</small
              >
            </div>
          </div>
          <!-- 小計　：オプション料金 -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label pt-0"
              >オプション料金（税込み）</label
            >
            <div class="col-md-9">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control text-right"
                  id="sum_opt"
                  value="0"
                  readonly
                />
                <div class="input-group-append">
                  <label class="input-group-text">円</label>
                </div>
              </div>
            </div>
          </div>
          <!-- 合計：基本料金＋オプション料金 -->
          <div class="form-group row">
            <label for="" class="col-md-3 col-form-label pt-0"
              >合計（税込み）</label
            >
            <div class="col-md-9">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control text-right"
                  id="sum_total"
                  v-bind:value="taxedBasePrice | number_format"
                  readonly
                />
                <div class="input-group-append">
                  <label class="input-group-text">円</label>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
